<%- include('../partials/header')%>

<div class="page-wrapper px-4 pt-5">
    <div class="col-md-5">
         <h3>Edit Employee Detail :</h3>
  <form method="post" action="/emp/update/<%= emp.id %>">
        <input type="hidden" name="editId" value="<%= emp.id %>">
    <div class="mb-3">
      <label for="empName" class="form-label">Employee Name : </label>
      <input
        type="text"
        class="form-control"
        id="empName"
        name="empName"
        value="<%= emp.empName %>"
      />
    </div>
    <div class="mb-3">
      <label for="empId" class="form-label">Employee ID :</label>
      <input type="number" 
      class="form-control" 
      id="empId" 
      name="empId"
      value="<%= emp.empId %>"/>
    </div>
    <div class="mb-3">
      <label for="empEmail" class="form-label">Employee Email : </label>
      <input
        type="email"
        class="form-control"
        id="empEmail"
        name="empEmail"
        value="<%= emp.empEmail %>"
      />
    </div>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
    </div>
 
  <%- include('../partials/footer') %>

