<%- include('../partials/header')%>

<div class="page-wrapper px-4 pt-5">
  <div class="col-md-12">
    <table class="table">
        <h2 class="">Employee Details : </h2>
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>ID</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% emp.map((val,idx)=>{ %>
            <tr>
              <td><%= idx + 1 %></td>
              <td><%= val.empName %></td>
              <td><%= val.empId %></td>
              <td><%= val.empEmail %></td>
              <td>
                <a href="/emp/edit/<%= val.id %>" class="btn btn-warning">Edit</a>
                <a href="/emp/delete/<%= val.id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <%- include('../partials/footer')%>
</div>
